body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url(images/background-with-a-pasta-decoration.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto Slab", serif;
}

/* Header */

.nav-bar {
    background: linear-gradient(#5c0505, #e84343);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 30px;
}

.nav-bar h1 {
    font-size: 48px;
    border-bottom: solid 3px #fff;
    line-height: 41px;
    margin-bottom: 0;
}

.nav-bar p {
    margin: 5px 0 15px 0;
    font-size: 17px;

}

.nav-links { 
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    border: inset 2px #5c0505;
    border-radius: 30px;
    padding: 6px;
    background: linear-gradient(#5c0505, #e84343);
    color: #fff;
    font-size: 15px;
}

.nav-links a:hover {
    background: linear-gradient(#e84343, #5c0505);
}

/* Description Container */

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 130px;

}

.description {
    max-width: 650px;
    text-align: center;
    box-sizing: border-box;
    background-color: #5c0505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 8px 5px;
    font-size: 15px;
    border: inset 3px #5c0505;
}

.information-container {
    margin: 100px 0;
    text-align: center;
    background-color: #5c0505;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 18px;
    border: inset 3px #5c0505;
}

.information-container h2 {
    font-size: 41px;
}

.information-container img {
    border-radius: 50%;
}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #000;
    margin-top: 80px;
    height: 300px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.social-media a {
    text-decoration: none;
    padding: 5px;
    border: solid 2px #5c0505;
    color: #fff;
    background: linear-gradient(#5c0505, #e84343);
    border-radius: 50%;
    margin: 0 10px;
}

.social-media i {
    font-size: 30px;
    padding: 5px;
}

.social-media a:hover {
    background: linear-gradient(#e84343, #5c0505);
    color: #fff;
}

.Copyright {
    margin: 20px 0 0 0;
    font-size: 12px;
}

/* Media Queries */

@media screen and (max-width: 750px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-links {
        margin-top: 5px;
    }
}

@media screen and (max-width: 700px) {
    .nav-bar h1 {
        font-size: 40px;
    }

    .nav-bar p {
        font-size: 15px;
    }

    .nav-links a {
        font-size: 13px;
    }

    .description-container {
        margin-top: 100px;
    }

    .description {
        font-size: 10px;
        max-width: 500px;
    }

    .information-container {
        font-size: 15px;
    }

    .information-container h2 {
        font-size: 40px;
    }

    .social-media i {
        font-size: 25px;
    }
}

@media screen and (max-width: 530px) {
    .nav-bar h1 {
        font-size: 35px;
    }

    .nav-bar p {
        font-size: 13px;
    }

    .nav-links a {
        font-size: 10px;
    }

    .description {
        max-width: 300px;
        text-align: left;
    }

    .information-container {
        font-size: 13px;
        max-width: 300px;
    }

    .information-container h2 {
        font-size: 35px;
    }

    .information-container img {
        width: 150px;
        height: 150px;
    }

    .social-media i {
        font-size: 20px;
    }

    .Copyright {
        font-size: 10px;
    }
}
