body {
    margin: 0;
    padding: 0;
}

/* Header */
.nav-bar {
    background: linear-gradient(#5c0505, #e84343);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}

.nav-links { 
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
}